{% extends 'base.html' %}{% load static %}
{% block title %}Tracking{% endblock title %}
{% block custom_css %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        .chartCard {
            width: 100vw;
            height: calc(100vh - 40px);
            background: rgba(61, 118, 153, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .chartBox {
            width: 700px;
            padding: 20px;
            border-radius: 20px;
            border: solid 3px rgba(54, 162, 235, 1);
            background: white;
        }
    </style>
{% endblock custom_css %}
{% block content %}
    <div class="chartCard">
        <div class="chartBox">
            <canvas id="tracking-chart" data-url="{% url 'data' start_date=start_date end_date=end_date %}"></canvas>
            <input onchange="updateChart()" type="date" id="start_date" min="{{ min_date|date:"Y-m-d" }}"
                   max="{{ max_date|date:"Y-m-d" }}" value="{{ start_date|date:"Y-m-d" }}">
            <input onchange="updateChart()" type="date" id="end_date" min="{{ min_date|date:"Y-m-d" }}"
                   max="{{ max_date|date:"Y-m-d" }}" value="{{ end_date|date:"Y-m-d" }}">
        </div>
    </div>
{% endblock content %}
{% block custom_javascript %}
    <script>
        function updateChart() {
            async function fetchJSON() {
                const url = {% url 'day_tracking' %} +'data/' + document.getElementById('start_date').value + '/' + document.getElementById('end_date').value + '/';
                const response = await fetch(url);
                const datapoints = await response.json();
                console.log(datapoints);
                return datapoints;
            }

            fetchJSON().then(datapoints => {
                console.log(datapoints);
                const days = datapoints.data;
                const labels = datapoints.labels;
                chart.config.data.datasets[0].data = days;
                chart.config.data.labels = labels;
                chart.update();
            })
        }

        updateChart();

        const data = {
            datasets: [{
                label: 'Percentage',
                backgroundColor: 'blue',
            }]
        };

        const config = {
            type: 'bar',
            data,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'People Tracking Bar Chart'
                }
            }
        };

        const chart = new Chart(
            document.getElementById('tracking-chart'),
            config
        );

        function clickHandler(click) {
            const points = chart.getElementsAtEventForMode(click, 'nearest', {intersect: true}, true);
            if (points.length) {
                const firstPoint = points[0];
                const key = firstPoint.index
                const start_date = $('#start_date').val()
                const end_date = $('#end_date').val()
                window.open('{% url 'day_tracking' %}' + key + '/' + start_date + '/' + end_date + '/', "_self")
            }
        }

        chart.canvas.onclick = clickHandler;
    </script>
{% endblock custom_javascript %}