{% extends 'base.html' %}{% load static %}
{% block title %}Tracking{% endblock title %}
{% block custom_css %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock custom_css %}
{% block content %}
    <div id="container" style="width: 75%;">
        <canvas id="tracking-chart" data-url="{% url 'data' %}"></canvas>
    </div>
{% endblock content %}
{% block custom_javascript %}
    <script>
        function clickHandler() {
            console.log('click');
        }

        $(function () {
            const $trackingChart = $("#tracking-chart");
            $.ajax({
                url: $trackingChart.data("url"),
                success: function (data) {

                    let ctx = $trackingChart[0].getContext("2d");

                    const chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Day',
                                backgroundColor: 'blue',
                                data: data.data
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'People Tracking Bar Chart'
                            },
                            onClick: event => {
                                const datasetIndex = chart.getElementAtEvent(event)[0]._datasetIndex;
                                const model = chart.getElementsAtEvent(event)[datasetIndex]._model;
                                const points = chart.getElementsAtEventForMode()
                                console.log(datasetIndex);
                                console.log(model.datasetLabel);
                                console.log(model.label);
                            }
                        }
                    });
                }
            });
        });

    </script>
{% endblock custom_javascript %}